<%- include('partials/header') -%>
<div class="container">
  <div class="row profileContain bg-secondary text-white mt-5">
      <div class="col-6">
          <div>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>
          </div>
          <!-- <div class="mt-5">
            <h2>Personal Best: <%= user.highScore %></h2>
          </div> -->
      </div>
      <div class="col-6">
        <div class="row justify-content-center mt-5">
          <a class="btn btn-primary" href="/feed">Play Game</a>
        </div>  
      </div>
      <div class="justify-content-center text-white text-center bg-secondary" >
        <h1>If you need a refresher of the basics please refer to this video</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/an2j2IGS7us" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>  
    </div>
   
  </div>
</div>
<%- include('partials/footer') -%>